<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>network.properties</value>
            </list>
        </property>
    </bean>

    <bean id="server" class="se.kth.seds.mi.communication.KeyPairTcpServer" init-method="init" destroy-method="destory">
        <property name="port" value="${tcp.port}"/>
    </bean>

    <bean id="client" class="se.kth.seds.mi.communication.TcpClient" init-method="init" destroy-method="destory">
        <property name="host" value="${tcp.host}"/>
        <property name="port" value="${tcp.port}"/>
    </bean>

    <bean id="keyPairCrypto" class="se.kth.seds.mi.core.crypto.keypair.KeyPairCryptoImpl"/>

    <bean id="rsaKeyPairGenerator" class="se.kth.seds.mi.core.crypto.keypair.rsa.RSAKeyPairGenerator"/>

    <bean id="keyPairReceiverFrame" class="se.kth.seds.mi.ui.KeyPairReceiverFrame" init-method="initComponents">
        <property name="title" value="Key Pair"/>
        <property name="server" ref="server"/>
        <property name="keyPairCrypto" ref="keyPairCrypto"/>
    </bean>

    <bean id="keyPairSecretSenderFrame" class="se.kth.seds.mi.ui.KeyPairSenderFrame" init-method="initComponents">
        <property name="title" value="Key Pair"/>
        <property name="client" ref="client"/>
        <property name="keyPairCrypto" ref="keyPairCrypto"/>
        <property name="keyPairGeneratorIF" ref="rsaKeyPairGenerator"/>
    </bean>

</beans>